*{
	margin: 0;
	padding: 0;
	
}
body{
	background-color: rgb(215, 185, 241);
}
#root{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
}

.Todo{
	width: 30vw;
	background-color: rgb(189, 169, 208);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 30px;
}

li{
	list-style: none;
	display: flex;
	padding: 15px;
	gap: 8px;
	
}

ul{
	padding-top: 10px;
	width: 30vw;
	border-top: 5px solid white;
	position: relative;
}

.delete{
	position: absolute;
	right: 0px;
	
}
input{
	border: 1px solid rgb(117, 82, 151);
	border-radius: 10px;
	height: 3vh;
	padding: 0px 5px;
}

button{
	border-radius: 10px;
	background-color: rgb(117, 82, 151);
	color: aliceblue;
	width: 7vw;
	height: 3vh;
}


input[type="checkbox"] {
	/* Add if not using autoprefixer */
	-webkit-appearance: none;
	/* Remove most all native input styles */
	appearance: none;
	/* For iOS < 15 */
	background-color: var(--form-background);
	/* Not removed via appearance */
	margin: 0;
 
	font: inherit;
	color: currentColor;
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid currentColor;
	border-radius: 0.15em;
	transform: translateY(-0.075em);
 
	display: grid;
	place-content: center;
 }
 
 input[type="checkbox"]::before {
	content: "";
	width: 0.65em;
	height: 0.65em;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
	transform: scale(0);
	transform-origin: bottom left;
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--form-control-color);
	/* Windows High Contrast Mode */
	background-color: CanvasText;
 }
 
 input[type="checkbox"]:checked::before {
	transform: scale(1);
 }
 
 input[type="checkbox"]:focus {
	outline: max(2px, 0.15em) solid currentColor;
	outline-offset: max(2px, 0.15em);
 }
 
 input[type="checkbox"]:disabled {
	--form-control-color: var(--form-control-disabled);
 
	color: var(--form-control-disabled);
	cursor: not-allowed;
 }
 

